[submodule "models/trento"]
	path = models/trento
	url = git@github.com:victor-gonzalez/trento.git
[submodule "models/freestream"]
	path = models/freestream
	url = git@github.com:victor-gonzalez/freestream.git
[submodule "models/osu-hydro"]
	path = models/osu-hydro
	url = git@github.com:victor-gonzalez/osu-hydro.git
[submodule "models/frzout"]
	path = models/frzout
	url = git@github.com:victor-gonzalez/frzout.git
[submodule "models/urqmd-afterburner"]
	path = models/urqmd-afterburner
	url = git@github.com:victor-gonzalez/urqmd-afterburner.git
